In [1]:
import json
import requests
import time
import string
import pandas as pd

In [2]:
def request_mun(mun_id):
    mun_res = requests.get("https://api.idescat.cat/emex/v1/dades.json?id={}&lang=en".format(mun_id))
    return mun_res.json()
   

def create_meta_municipalities():
    """
    Retrieves dictionairy containing all municipalities from the idescat. Structure of the dict:
        key: id of the mun
        value: name of the mun
    """
    meta = {}
    mun_res = requests.get("https://api.idescat.cat/emex/v1/dades.json?lang=en")
    mun_meta = mun_res.json()
    muns = mun_meta['fitxes']['cols']['col']
    for mun in muns:
        meta[mun['id']] = mun['content']
        
    return meta


def collect_all_muns(meta, n):
    """
    Collects all the data of each municipality, making a request every n seconds
    """
    
    start_time = time.time()
    municipality_dict = {}
    i = 0
    for identifier in meta.keys():
        
        municipality_dict[identifier] = request_mun(identifier)
        time.sleep(n)
        i += 1
        if i == 10:
            break
    
    print("Retrieved data of {} municipalities in {} seconds".format(i ,int(time.time()-start_time)))
    return municipality_dict

In [3]:
testmeta = create_meta_municipalities()

In [4]:
test = collect_all_muns(testmeta, 0.2)

Retrieved data of 10 municipalities in 3 seconds

In [5]:
with open("test.json", 'w') as file:
    json.dump(test['250019'], file)

In [149]:

# def parse_mun_to_dict_of_list(data):
#     """FUnction build before the knowledge of data not being complete."""
#     columns = {}
#     for key in data.keys():
#         print(data[key]['fitxes']['cols']['col'][0]['id'])
#         print(key)
#         assert data[key]['fitxes']['cols']['col'][0]['id'] == key
        
        
#         for g in data[key]['fitxes']['gg']['g']:
            
#             if type(g['tt']['t']) == type(dict):
                
#                 if type(g['tt']['t']['ff']['f']) == type(dict):
#                     value = value_splitter(g['tt']['t']['ff']['f']['v'])
#                     if g['tt']['t']['c'] + "_" + g['tt']['t']['ff']['f']['calt'] in columns.keys():
#                         columns[g['tt']['t']['c'] + "_" + g['tt']['t']['ff']['f']['calt']].append(value)
#                     else:
#                         columns[g['tt']['t']['c'] + "_" + g['tt']['t']['ff']['f']['calt']] = [value]
#                 else:
#                     for f in g['tt']['t']['ff']['f']:
#                         value = value_splitter(f['v'])
#                         if g['tt']['t']['c'] + "_" + f['calt'] in columns.keys():
#                             columns[g['tt']['t']['c'] + "_" + f['calt']].append(value)
#                         else:
#                             columns[g['tt']['t']['c'] + "_" + f['calt']] = [value]
#             else:
#                 for t in g['tt']['t']:
#                     if type(t['ff']['f']) == type(dict):
#                         value = value_splitter(t['ff']['f']['v'])
#                         if t['c'] + "_" + t['ff']['f']['calt'] in columns.keys():
#                             columns[t['c'] + "_" + t['ff']['f']['calt']].append(value)
#                         else:
#                             columns[t['c'] + "_" + t['ff']['f']['calt']] = [value]
#                     else:
#                         for f in t['ff']['f']:
#                             value = value_splitter(f['v'])
#                             if t['c'] + "_" + f['calt'] in columns.keys():
#                                 columns[t['c'] + "_" + f['calt']].append(value)
#                             else:
#                                 columns[t['c'] + "_" + f['calt']] = [value]
                    
#     return columns

In [179]:
# def value_splitter(value):
#     assert type(value) == str
#     mun, com, ca = value.split(',')
#     return mun, com, ca


# def is_not_in_column_names(column_names, name):
#     if name in column_names:
#         return False
#     else:
#         return True

        
# def get_column_names_from_muns(data):
#     """Returns all the names of the columns which are in the data set
#     It looks super cumbersome because the people from idescat do not know how to keep consistency in their data
#     """
#     column_names = []
#     # For each municipality in the data, go over the json.
#     for key in data.keys():
#         # Check if the municipality is really that municipality.
#         assert data[key]['fitxes']['cols']['col'][0]['id'] == key
        
#         # go over all 'groups' in the dictoinary structure
#         for g in data[key]['fitxes']['gg']['g']:
            
#             # Check if the group contains one or more tables. The group is a dictoinary of tables when there is
#             # is multiple tables in the group, and a list when there is only one. When this if statement returns true,
#             # the next element is treated as a dictoinary, and when it returns false, it is treated as a list.
#             if type(g['tt']['t']) == dict:

#                 # Check if the table contains one or more rows. The table is a list of rows when there is
#                 # is multiple rows in the table, and a dictionary when there is only one. When this if statement returns true,
#                 # the next element is treated as a dictoinary, and when it returns false, it is treated as a list.
#                 if type(g['tt']['t']['ff']['f']) == dict:
                    
#                     # Check if the name is already in the column names list, and otherwise append it to the list.
#                     if is_not_in_column_names(column_names, g['tt']['t']['c'] + "_" + g['tt']['t']['ff']['f']['calt']):
#                         column_names.append(g['tt']['t']['c'] + "_" + g['tt']['t']['ff']['f']['calt'])
#                 else:
#                     for f in g['tt']['t']['ff']['f']:
#                         # Check if the name is already in the column names list, and otherwise append it to the list.
#                         if is_not_in_column_names(column_names, g['tt']['t']['c'] + "_" + f['calt']):
#                             column_names.append(g['tt']['t']['c'] + "_" + f['calt'])
#                         #print(f['calt'])
#             else:
#                 for t in g['tt']['t']:
                    
#                     # Check if the table contains one or more rows. The table is a dictoinary of rows when there is
#                     # is multiple rows in the table, and a list when there is only one. When this if statement returns true,
#                     # the next element is treated as a dictoinary, and when it returns false, it is treated as a list.
#                     if type(t['ff']['f']) == dict:
#                         # Check if the name is already in the column names list, and otherwise append it to the list.
#                         if is_not_in_column_names(column_names, t['c'] + "_" + t['ff']['f']['calt']):
#                             column_names.append(t['c'] + "_" + t['ff']['f']['calt'])

#                     else:
#                         for f in t['ff']['f']:
#                             # Check if the name is already in the column names list, and otherwise append it to the list.
#                             if is_not_in_column_names(column_names, t['c'] + "_" + f['calt']):
#                                 column_names.append(t['c'] + "_" + f['calt'])
#     return column_names
        
    
# def make_col_dict(column_names):
#     col_dict = {}
#     for col in column_names:
#         col_dict[col] = []
#     return col_dict


# def retrieve_mun_from_json(data, columns):
#     column_names = list(columns.keys())
#     for g in data['fitxes']['gg']['g']:
            
#         # Check if the group contains one or more tables. The group is a dictoinary of tables when there is
#         # is multiple tables in the group, and a list when there is only one. When this if statement returns true,
#         # the next element is treated as a dictoinary, and when it returns false, it is treated as a list.
#         if type(g['tt']['t']) == dict:

#             # Check if the table contains one or more rows. The table is a dictoinary of rows when there is
#             # is multiple rows in the table, and a list when there is only one. When this if statement returns true,
#             # the next element is treated as a dictoinary, and when it returns false, it is treated as a list.
#             if type(g['tt']['t']['ff']['f']) == dict:
#                 v, _, _ = value_splitter(g['tt']['t']['ff']['f']['v'])
#                 columns[g['tt']['t']['c'] + "_" + g['tt']['t']['ff']['f']['calt']].append(v)
#                 print(g['tt']['t']['c'] + "_" + g['tt']['t']['ff']['f']['calt'])
#                 print(g['tt']['t']['ff']['f']['r'])
#                 column_names.remove(g['tt']['t']['c'] + "_" + g['tt']['t']['ff']['f']['calt'])
#             else:
#                 for f in g['tt']['t']['ff']['f']:
#                     v, _, _ = value_splitter(f['v'])
#                     columns[g['tt']['t']['c'] + "_" + f['calt']].append(v)
#                     print(g['tt']['t']['c'] + "_" + f['calt'])
#                     print('f')
#                     column_names.remove(g['tt']['t']['c'] + "_" + f['calt'])
#         else:
#             for t in g['tt']['t']:
                    
#                 # Check if the table contains one or more rows. The table is a dictoinary of rows when there is
#                 # is multiple rows in the table, and a list when there is only one. When this if statement returns true,
#                 # the next element is treated as a dictoinary, and when it returns false, it is treated as a list.
#                 if type(t['ff']['f']) == dict:
#                     v, _, _ = value_splitter(t['ff']['f']['v'])
#                     columns[t['c'] + "_" + t['ff']['f']['calt']].append(v)
#                     print(t['c'] + "_" + t['ff']['f']['calt'])
#                     print(t['ff']['f']['r'])
#                     column_names.remove(t['c'] + "_" + t['ff']['f']['calt'])
#                 else:
#                     for f in t['ff']['f']:                     
#                         v, _, _ = value_splitter(f['v'])
#                         columns[t['c'] + "_" + f['calt']].append(v)
#                         print(t['c'] + "_" + f['calt'])
#                         print(f['r'])
#                         column_names.remove(t['c'] + "_" + f['calt'])
    
#     for c in column_names:
#         columns[c].append('nan')
#     return columns

In [11]:
test.keys()

dict_keys(['250019', '080018', '250024', '250030', '080023', '170010', '080142', '430017', '170025', '250387'])

In [5]:
from json_parser import *

In [6]:
parser = JSONParser(json_value='v', json_column_name=['c', 'calt'])

In [7]:
parser.add_json(d=test['080018'], name='080018')
parser.add_json(d=test['250019'], name='250019')
parser.add_json(d=test['250024'], name='250024')
parser.add_json(d=test['250030'], name='250030')
parser.add_json(d=test['080023'], name='080023')
parser.add_json(d=test['170010'], name='170010')
parser.add_key_map(homogenize_key)
parser.add_value_map(value_splitter)

In [8]:
parser.parse_data()

In [9]:
containers = parser.containers()
for name, con in containers.items():
    print(len(con))

211
168
168
212
161
169

In [10]:
for key, value in containers['250019'].items():
    print(f'{value} \t {key}')

78.27 	 Territory_Geographic_indicators_Surface_area_Surface_area
956 	 Territory_Geographic_indicators_Altitude_Altitude
1.092892 	 Territory_Geographic_indicators_Longitude_Longitude
42.162392 	 Territory_Geographic_indicators_Latitude_Latitude
342450 	 Territory_Geographic_indicators_UTM_coordinates_x_UTM_coordinates_x
4669650 	 Territory_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y
78.27 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Density_Density_of_population_Surface_area_Surface_area
2.2 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Density_Density_of_population_Density_Density
89 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Sex_Population._By_sex_Men_Men
82 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Sex_Population._By_sex_Women_Women
171 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Sex_Population._By_sex_Population_Total
16 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups_Population._By_age_groups_Population_from_0_to_14_years_From_0_to_14_years
110 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups_Population._By_age_groups_Population_from_15_to_64_years_From_15_to_64_years
33 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups_Population._By_age_groups_Population_from_65_to_84_years_From_65_to_84_years
12 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups_Population._By_age_groups_Population_from_85_years_and_over_From_85_years_and_over
171 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups_Population._By_age_groups_Population_Total
8 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups._Men_Population._By_age_groups._Men_Men_from_0_to_14_years_From_0_to_14_years
59 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups._Men_Population._By_age_groups._Men_Men_from_15_to_64_years_From_15_to_64_years
14 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups._Men_Population._By_age_groups._Men_Men_from_65_to_84_years_From_65_to_84_years
8 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups._Men_Population._By_age_groups._Men_Men_from_85_years_and_over_From_85_years_and_over
89 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups._Men_Population._By_age_groups._Men_Men_Total
8 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups._Women_Population._By_age_groups._Women_Women_from_0_to_14_years_From_0_to_14_years
51 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups._Women_Population._By_age_groups._Women_Women_from_15_to_64_years_From_15_to_64_years
19 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups._Women_Population._By_age_groups._Women_Women_from_65_to_84_years_From_65_to_84_years
4 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups._Women_Population._By_age_groups._Women_Women_from_85_years_and_over_From_85_years_and_over
82 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Age_groups._Women_Population._By_age_groups._Women_Women_Total
143 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Place_of_birth_Population._By_place_of_birth_Population_born_in_Catalonia_Catalonia
8 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Place_of_birth_Population._By_place_of_birth_Population_born_in_rest_of_Spain_Rest_of_Spain
20 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Place_of_birth_Population._By_place_of_birth_Population_born_abroad_Abroad
171 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Place_of_birth_Population._By_place_of_birth_Population_Total
151 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Nationality_Population._By_nationality_Population_with_Spanish_nationality_Spanish
20 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Nationality_Population._By_nationality_Population_with_foreign_nationality_Foreign
171 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Nationality_Population._By_nationality_Population_Total
79 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Nationality._Men_Population._By_nationality._Men_Men_with_Spanish_nationality_Spanish
10 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Nationality._Men_Population._By_nationality._Men_Men_with_foreign_nationality_Foreign
89 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Nationality._Men_Population._By_nationality._Men_Men_Total
72 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Nationality._Women_Population._By_nationality._Women_Women_with_Spanish_nationality_Spanish
10 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Nationality._Women_Population._By_nationality._Women_Women_with_foreign_nationality_Foreign
82 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Nationality._Women_Population._By_nationality._Women_Women_Total
25 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Population_resident_abroad_Population_resident_abroad_on_1_January._By_sex_Men_resident_abroad_Men
32 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Population_resident_abroad_Population_resident_abroad_on_1_January._By_sex_Women_resident_abroad_Women
57 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Population_resident_abroad_Population_resident_abroad_on_1_January._By_sex_Population_resident_abroad_Total
30 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Commuting_for_Study_Reasons_Statistics_on_Commuting_for_Non-University_Studies_Resident_Students_(School_Age)_Resident_Students
0.0 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Commuting_for_Study_Reasons_Statistics_on_Commuting_for_Non-University_Studies_Resident_Students_who_study_in_the_same_municipality_Resident_Students_who_study_in_the_same_municipality
0 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Births_Births._By_sex_Births._Boys_Boys
1 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Births_Births._By_sex_Births._Girls_Girls
1 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Births_Births._By_sex_Births_Total
0 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Deaths_Deaths._By_sex_Deaths._Men_Men
0 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Deaths_Deaths._By_sex_Deaths._Women_Women
0 	 Population_Geographic_indicators_UTM_coordinates_y_UTM_coordinates_y_Deaths_Deaths._By_sex_Deaths_Total
0 	 Population_Geographic_indicators_Marriages_Total_Marriages_Marriages_Deaths_Total
-8 	 Population_Geographic_indicators_Marriages_Total_Internal_migrations_Internal_migrations._Destination-origin_balances_Migrations_(balance)_with_Catalonia_Balance_with_Catalonia
-1 	 Population_Geographic_indicators_Marriages_Total_Internal_migrations_Internal_migrations._Destination-origin_balances_Migrations_(balance)_with_Spain_Balance_with_Spain
-9 	 Population_Geographic_indicators_Marriages_Total_Internal_migrations_Internal_migrations._Destination-origin_balances_Internal_migratory_net_balance_Internal_migratory_net_balance
0 	 Population_Geographic_indicators_Marriages_Total_External_migrations_External_migrations_External_immigrations_Immigrations
0 	 Population_Geographic_indicators_Marriages_Total_External_migrations_External_migrations_External_emigrations_Emigrations
0 	 Population_Geographic_indicators_Marriages_Total_External_immigrations_External_immigrations._By_place_of_origin_Immigrations_from_the_rest_of_EU_Rest_of_EU
0 	 Population_Geographic_indicators_Marriages_Total_External_immigrations_External_immigrations._By_place_of_origin_Immigrations_from_the_rest_of_the_world_Rest_of_the_world
0 	 Population_Geographic_indicators_Marriages_Total_External_immigrations_External_immigrations._By_place_of_origin_External_immigrations_Total
-7 	 Population_Geographic_indicators_Marriages_Total_Intercensal_Population_Growth_2001-2011_Intercensal_Population_Growth_Intercensal_Population_Growth_Population_Growth
-3.87 	 Population_Geographic_indicators_Marriages_Total_Intercensal_Population_Growth_2001-2011_Intercensal_Population_Growth_Intercensal_Population_Growth_(annual_average)_Population_Growth_(annual_average)
-7.97 	 Population_Geographic_indicators_Marriages_Total_Intercensal_Population_Growth_2001-2011_Intercensal_Population_Growth_Intercensal_Natural_Increase_Ratio_(annual_average)_Natural_Increase_(annual_average)
4.11 	 Population_Geographic_indicators_Marriages_Total_Intercensal_Population_Growth_2001-2011_Intercensal_Population_Growth_Intercensal_Net_Migration_Ratio_(annual_average)_Net_Migration_(annual_average)
169 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Knowledge_of_Catalan_Population_of_2_years_and_over._By_knowledge_of_Catalan_Population_that_understands_Catalan_Understand
164 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Knowledge_of_Catalan_Population_of_2_years_and_over._By_knowledge_of_Catalan_Population_that_can_speak_Catalan_Speak
161 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Knowledge_of_Catalan_Population_of_2_years_and_over._By_knowledge_of_Catalan_Population_that_can_read_Catalan_Read
107 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Knowledge_of_Catalan_Population_of_2_years_and_over._By_knowledge_of_Catalan_Population_that_can_write_Catalan_Write
0 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Knowledge_of_Catalan_Population_of_2_years_and_over._By_knowledge_of_Catalan_Population_that_doesn't_understand_Catalan_Do_not_understand
169 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Knowledge_of_Catalan_Population_of_2_years_and_over._By_knowledge_of_Catalan_Population_of_2_years_and_over_Total
0 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Libraries_Libraries_Public_libraries_Public
0 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Libraries_Libraries_Other_libraries_Others
0 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Libraries_Libraries_Libraries_Total
0 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Sports_facilities_Sports_facilities_Pavilions_Pavilions
0 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Sports_facilities_Sports_facilities_Multisport_courts_Multisport_courts
0 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Sports_facilities_Sports_facilities_Multisport_fields_Multisport_fields
0 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Sports_facilities_Sports_facilities_Sports_halls_Sports_halls
0 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Sports_facilities_Sports_facilities_Indoor_swimming_pools_Indoor_swimming_pools
0 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Sports_facilities_Sports_facilities_Athelitcs_tracks_Athelitcs_tracks
0 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Sports_facilities_Sports_facilities_Other_sports_facilities_Other_facilities
0 	 Culture_·_Language_Geographic_indicators_Marriages_Total_Sports_facilities_Sports_facilities_Sports_facilities_Total
23.3 	 Education_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Primary_education_or_lower_Primary_education_or_lower_Sports_facilities_Sports_facilities_Sports_facilities_Total
26.4 	 Education_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_First_stage_of_secondary_education_First_stage_of_secondary_education_Sports_facilities_Sports_facilities_Sports_facilities_Total
17.0 	 Education_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Second_stage_of_secondary_education_Second_stage_of_secondary_education_Sports_facilities_Sports_facilities_Sports_facilities_Total
33.3 	 Education_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Higher_education_Sports_facilities_Sports_facilities_Sports_facilities_Total
145 	 Elections_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Higher_education_Elections_to_the_Parliament_of_Catalonia_Elections_to_the_Parliament_of_Catalonia_Electors_(_Parliament_of_Catalonia)_Electors
80.7 	 Elections_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Higher_education_Elections_to_the_Parliament_of_Catalonia_Elections_to_the_Parliament_of_Catalonia_Turnout_(Parliament_Catalonia)_Turnout
144 	 Elections_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Higher_education_Elections_to_the_Congress_of_Deputies_Elections_to_the_Congress_of_Deputies_Electors_(Congress)_Electors
50.7 	 Elections_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Higher_education_Elections_to_the_Congress_of_Deputies_Elections_to_the_Congress_of_Deputies_Turnout_(Elec._Congress)_Turnout
42.0 	 Elections_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Higher_education_Elections_to_the_European_Parliament_Elections_to_the_European_Parliament_Turnout_(Elec._European_Parliament)_Turnout
143 	 Elections_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Higher_education_Elections_to_the_European_Parliament_Elections_to_the_European_Parliament_Electors_(Elec._European_Parliament)_Electors
38 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Higher_education_Contributors_to_Social_Security_according_to_contributors's_residence_Contributors_to_Social_Security_according_to_the_residence_of_the_contributor_Men_Men
31 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Higher_education_Contributors_to_Social_Security_according_to_contributors's_residence_Contributors_to_Social_Security_according_to_the_residence_of_the_contributor_Women_Women
69 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Higher_education_Contributors_to_Social_Security_according_to_contributors's_residence_Contributors_to_Social_Security_according_to_the_residence_of_the_contributor_Contributors_to_Social_Security_according_to_the_residence_of_the_contributor_Total
75 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Afiliations_Social_Security_according_residence_Total_Affiliations_to_Social_Security_according_to_contributor's_residence_Affiliations_to_Social_Security_according_to_the_residence_of_the_contributor_Contributors_to_Social_Security_according_to_the_residence_of_the_contributor_Total
13 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Afiliations_Social_Security_according_residence_Total_Affiliations_to_general_system_according_to_location_of_affilation._By_sectors_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_sectors_Agriculture_affiliations_to_General_SS_Agriculture
0 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Afiliations_Social_Security_according_residence_Total_Affiliations_to_general_system_according_to_location_of_affilation._By_sectors_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_sectors_Industry_affiliations_to_General_SS_Industry
0 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Afiliations_Social_Security_according_residence_Total_Affiliations_to_general_system_according_to_location_of_affilation._By_sectors_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_sectors_Construction_affiliations_to_General_SS_Construction
13 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Afiliations_Social_Security_according_residence_Total_Affiliations_to_general_system_according_to_location_of_affilation._By_sectors_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_sectors_Services_affiliations_to_General_SS_Services
26 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Afiliations_Social_Security_according_residence_Total_Affiliations_to_general_system_according_to_location_of_affilation._By_sectors_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_sectors_Affiliations_to_General_SS_Total
24 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Afiliations_Social_Security_according_residence_Total_Affiliations_to_self-employed_system_according_to_location_of_affilation._By_sectors_Affiliations_to_S._S._self-employed_system_according_to_the_location_of_the_affilation._By_sectors_Affiliations_contributors_to_Self-Employed_SS_Agriculture
5 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Afiliations_Social_Security_according_residence_Total_Affiliations_to_self-employed_system_according_to_location_of_affilation._By_sectors_Affiliations_to_S._S._self-employed_system_according_to_the_location_of_the_affilation._By_sectors_Services_afiliaciones_to_Self-Employed_SS_Services
30 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Afiliations_Social_Security_according_residence_Total_Affiliations_to_self-employed_system_according_to_location_of_affilation._By_sectors_Affiliations_to_S._S._self-employed_system_according_to_the_location_of_the_affilation._By_sectors_Affiliations_to_Self-Employed_SS_Total
26 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Afiliations_Social_Security_according_residence_Total_Affiliations_to_gen._system_according_to_location_of_affilation._By_size_of_the_centre_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_size_of_centre_Affiliations_to_SS_centres_with_up_to_50_workers_Up_to_50_workers
0 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Afiliations_Social_Security_according_residence_Total_Affiliations_to_gen._system_according_to_location_of_affilation._By_size_of_the_centre_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_size_of_centre_Affiliations_to_SS_centres_with_51_to_250_workers_From_51_to_250_workers
0 	 Labour_Level_of_education_attained_Population_aged_15_and_over._By_level_of_education_attained_Afiliations_Social_Security_according_residence_Total_Affiliations_to_gen._system_according_to_location_of_affilation._By_size_of_the_centre_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_size_of_centre_Affiliations_to_SS_centres_with_251_or_more_workers_From_251_workers_and_over

In [63]:
pd1 = pd.DataFrame(containers['080018'])
pd2 = pd.DataFrame(containers['250019'], index=[0])

In [64]:
pd3 = pd.concat([pd1,pd2])

In [65]:
for col in pd3.columns:
    print(pd3[col])

0    19.94
1    19.94
0    78.27
Name: Territory_Geographic_indicators_Surface_area, dtype: object
0    105
1    105
0    956
Name: Territory_Geographic_indicators_Altitude, dtype: object
0    1.903100
1    1.903100
0    1.092892
Name: Territory_Geographic_indicators_Longitude, dtype: object
0    41.518531
1    41.518531
0    42.162392
Name: Territory_Geographic_indicators_Latitude, dtype: object
0    408471
1    408471
0    342450
Name: Territory_Geographic_indicators_UTM_coordinates_x, dtype: object
0    4596983
1    4596983
0    4669650
Name: Territory_Geographic_indicators_UTM_coordinates_y, dtype: object
0    19.94
1    19.94
0    78.27
Name: Population_Geographic_indicators_UTM_coordinates_y_Density_of_population_Surface_area, dtype: object
0    632.9
1    632.9
0      2.2
Name: Population_Geographic_indicators_UTM_coordinates_y_Density_of_population_Density, dtype: object
0    6373
1    6373
0      89
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_sex_Men, dtype: object
0    6247
1    6247
0      82
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_sex_Women, dtype: object
0    12620
1    12620
0      171
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_sex_Total, dtype: object
0    2138
1    2138
0      16
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups_From_0_to_14_years, dtype: object
0    8503
1    8503
0     110
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups_From_15_to_64_years, dtype: object
0    1749
1    1749
0      33
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups_From_65_to_84_years, dtype: object
0    230
1    230
0     12
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups_From_85_years_and_over, dtype: object
0    12620
1    12620
0      171
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups_Total, dtype: object
0    1100
1    1100
0       8
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups._Men_From_0_to_14_years, dtype: object
0    4366
1    4366
0      59
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups._Men_From_15_to_64_years, dtype: object
0    809
1    809
0     14
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups._Men_From_65_to_84_years, dtype: object
0    98
1    98
0     8
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups._Men_From_85_years_and_over, dtype: object
0    6373
1    6373
0      89
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups._Men_Total, dtype: object
0    1038
1    1038
0       8
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups._Women_From_0_to_14_years, dtype: object
0    4137
1    4137
0      51
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups._Women_From_15_to_64_years, dtype: object
0    940
1    940
0     19
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups._Women_From_65_to_84_years, dtype: object
0    132
1    132
0      4
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups._Women_From_85_years_and_over, dtype: object
0    6247
1    6247
0      82
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_age_groups._Women_Total, dtype: object
0    8717
1    8717
0     143
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_place_of_birth_Catalonia, dtype: object
0    2575
1    2575
0       8
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_place_of_birth_Rest_of_Spain, dtype: object
0    1328
1    1328
0      20
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_place_of_birth_Abroad, dtype: object
0    12620
1    12620
0      171
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_place_of_birth_Total, dtype: object
0    11778
1    11778
0      151
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_nationality_Spanish, dtype: object
0    842
1    842
0     20
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_nationality_Foreign, dtype: object
0    12620
1    12620
0      171
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_nationality_Total, dtype: object
0    5968
1    5968
0      79
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_nationality._Men_Spanish, dtype: object
0    405
1    405
0     10
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_nationality._Men_Foreign, dtype: object
0    6373
1    6373
0      89
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_nationality._Men_Total, dtype: object
0    5810
1    5810
0      72
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_nationality._Women_Spanish, dtype: object
0    437
1    437
0     10
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_nationality._Women_Foreign, dtype: object
0    6247
1    6247
0      82
Name: Population_Geographic_indicators_UTM_coordinates_y_Population._By_nationality._Women_Total, dtype: object
0    124
1    124
0     25
Name: Population_Geographic_indicators_UTM_coordinates_y_Population_resident_abroad_on_1_January._By_sex_Men, dtype: object
0    129
1    129
0     32
Name: Population_Geographic_indicators_UTM_coordinates_y_Population_resident_abroad_on_1_January._By_sex_Women, dtype: object
0    253
1    253
0     57
Name: Population_Geographic_indicators_UTM_coordinates_y_Population_resident_abroad_on_1_January._By_sex_Total, dtype: object
0    12538
1    12538
0      NaN
Name: Population_Geographic_indicators_UTM_coordinates_y_AFTE_population_(annual_full_time_equivalents)_Resident_population, dtype: object
0    388
1    388
0    NaN
Name: Population_Geographic_indicators_UTM_coordinates_y_AFTE_population_(annual_full_time_equivalents)_AFTE_seasonal_population, dtype: object
0    12926
1    12926
0      NaN
Name: Population_Geographic_indicators_UTM_coordinates_y_AFTE_population_(annual_full_time_equivalents)_Total, dtype: object
0    103.1
1    103.1
0      NaN
Name: Population_Geographic_indicators_UTM_coordinates_y_AFTE_population_(annual_full_time_equivalents)_AFTE_population_/_resident_population, dtype: object
0    2475
1    2475
0      30
Name: Population_Geographic_indicators_UTM_coordinates_y_Statistics_on_Commuting_for_Non-University_Studies_Resident_Students, dtype: object
0    71.5
1    71.5
0     0.0
Name: Population_Geographic_indicators_UTM_coordinates_y_Statistics_on_Commuting_for_Non-University_Studies_Resident_Students_who_study_in_the_same_municipality, dtype: object
0    41
1    41
0     0
Name: Population_Geographic_indicators_UTM_coordinates_y_Births._By_sex_Boys, dtype: object
0    49
1    49
0     1
Name: Population_Geographic_indicators_UTM_coordinates_y_Births._By_sex_Girls, dtype: object
0    90
1    90
0     1
Name: Population_Geographic_indicators_UTM_coordinates_y_Births._By_sex_Total, dtype: object
0    49
1    49
0     0
Name: Population_Geographic_indicators_UTM_coordinates_y_Deaths._By_sex_Men, dtype: object
0    48
1    48
0     0
Name: Population_Geographic_indicators_UTM_coordinates_y_Deaths._By_sex_Women, dtype: object
0    97
1    97
0     0
Name: Population_Geographic_indicators_UTM_coordinates_y_Deaths._By_sex_Total, dtype: object
0    35
1    35
0     0
Name: Population_Geographic_indicators_Total_Marriages_Total, dtype: object
0    861
1    861
0    NaN
Name: Population_Geographic_indicators_Total_Households._By_size_One_person, dtype: object
0    1258
1    1258
0     NaN
Name: Population_Geographic_indicators_Total_Households._By_size_Two_people, dtype: object
0    1233
1    1233
0     NaN
Name: Population_Geographic_indicators_Total_Households._By_size_Three_people, dtype: object
0    1098
1    1098
0     NaN
Name: Population_Geographic_indicators_Total_Households._By_size_Four_people_and_over, dtype: object
0    4450
1    4450
0     NaN
Name: Population_Geographic_indicators_Total_Households._By_size_Total, dtype: object
0    861
1    861
0    NaN
Name: Population_Geographic_indicators_Total_Households._By_type_of_nucleus_One_person, dtype: object
0    1069
1    1069
0     NaN
Name: Population_Geographic_indicators_Total_Households._By_type_of_nucleus_Couple_without_children, dtype: object
0    2030
1    2030
0     NaN
Name: Population_Geographic_indicators_Total_Households._By_type_of_nucleus_Couple_with_children, dtype: object
0    349
1    349
0    NaN
Name: Population_Geographic_indicators_Total_Households._By_type_of_nucleus_Father_or_mother_with_children, dtype: object
0    4450
1    4450
0     NaN
Name: Population_Geographic_indicators_Total_Households._By_type_of_nucleus_Total, dtype: object
0    102
1    102
0     -8
Name: Population_Geographic_indicators_Total_Internal_migrations._Destination-origin_balances_Balance_with_Catalonia, dtype: object
0    -41
1    -41
0     -1
Name: Population_Geographic_indicators_Total_Internal_migrations._Destination-origin_balances_Balance_with_Spain, dtype: object
0    61
1    61
0    -9
Name: Population_Geographic_indicators_Total_Internal_migrations._Destination-origin_balances_Internal_migratory_net_balance, dtype: object
0    62
1    62
0     0
Name: Population_Geographic_indicators_Total_External_migrations_Immigrations, dtype: object
0    52
1    52
0     0
Name: Population_Geographic_indicators_Total_External_migrations_Emigrations, dtype: object
0    7
1    7
0    0
Name: Population_Geographic_indicators_Total_External_immigrations._By_place_of_origin_Rest_of_EU, dtype: object
0    55
1    55
0     0
Name: Population_Geographic_indicators_Total_External_immigrations._By_place_of_origin_Rest_of_the_world, dtype: object
0    62
1    62
0     0
Name: Population_Geographic_indicators_Total_External_immigrations._By_place_of_origin_Total, dtype: object
0    3191
1    3191
0      -7
Name: Population_Geographic_indicators_Total_2001-2011_Intercensal_Population_Growth_Population_Growth, dtype: object
0    31.23
1    31.23
0    -3.87
Name: Population_Geographic_indicators_Total_2001-2011_Intercensal_Population_Growth_Population_Growth_(annual_average), dtype: object
0     9.33
1     9.33
0    -7.97
Name: Population_Geographic_indicators_Total_2001-2011_Intercensal_Population_Growth_Natural_Increase_(annual_average), dtype: object
0    21.9
1    21.9
0    4.11
Name: Population_Geographic_indicators_Total_2001-2011_Intercensal_Population_Growth_Net_Migration_(annual_average), dtype: object
0    10796
1    10796
0      169
Name: Culture_·_Language_Geographic_indicators_Total_Population_of_2_years_and_over._By_knowledge_of_Catalan_Understand, dtype: object
0    7703
1    7703
0     164
Name: Culture_·_Language_Geographic_indicators_Total_Population_of_2_years_and_over._By_knowledge_of_Catalan_Speak, dtype: object
0    8748
1    8748
0     161
Name: Culture_·_Language_Geographic_indicators_Total_Population_of_2_years_and_over._By_knowledge_of_Catalan_Read, dtype: object
0    6099
1    6099
0     107
Name: Culture_·_Language_Geographic_indicators_Total_Population_of_2_years_and_over._By_knowledge_of_Catalan_Write, dtype: object
0    556
1    556
0      0
Name: Culture_·_Language_Geographic_indicators_Total_Population_of_2_years_and_over._By_knowledge_of_Catalan_Do_not_understand, dtype: object
0    11351
1    11351
0      169
Name: Culture_·_Language_Geographic_indicators_Total_Population_of_2_years_and_over._By_knowledge_of_Catalan_Total, dtype: object
0    1
1    1
0    0
Name: Culture_·_Language_Geographic_indicators_Total_Libraries_Public, dtype: object
0    0
1    0
0    0
Name: Culture_·_Language_Geographic_indicators_Total_Libraries_Others, dtype: object
0    1
1    1
0    0
Name: Culture_·_Language_Geographic_indicators_Total_Libraries_Total, dtype: object
0    2
1    2
0    0
Name: Culture_·_Language_Geographic_indicators_Total_Sports_facilities_Pavilions, dtype: object
0    9
1    9
0    0
Name: Culture_·_Language_Geographic_indicators_Total_Sports_facilities_Multisport_courts, dtype: object
0    2
1    2
0    0
Name: Culture_·_Language_Geographic_indicators_Total_Sports_facilities_Multisport_fields, dtype: object
0    12
1    12
0     0
Name: Culture_·_Language_Geographic_indicators_Total_Sports_facilities_Sports_halls, dtype: object
0    2
1    2
0    0
Name: Culture_·_Language_Geographic_indicators_Total_Sports_facilities_Indoor_swimming_pools, dtype: object
0    0
1    0
0    0
Name: Culture_·_Language_Geographic_indicators_Total_Sports_facilities_Athelitcs_tracks, dtype: object
0    42
1    42
0     0
Name: Culture_·_Language_Geographic_indicators_Total_Sports_facilities_Other_facilities, dtype: object
0    69
1    69
0     0
Name: Culture_·_Language_Geographic_indicators_Total_Sports_facilities_Total, dtype: object
0    16.9
1    16.9
0    23.3
Name: Education_Population_aged_15_and_over._By_level_of_education_attained_Primary_education_or_lower_Sports_facilities_Total, dtype: object
0    30.5
1    30.5
0    26.4
Name: Education_Population_aged_15_and_over._By_level_of_education_attained_First_stage_of_secondary_education_Sports_facilities_Total, dtype: object
0    25.8
1    25.8
0    17.0
Name: Education_Population_aged_15_and_over._By_level_of_education_attained_Second_stage_of_secondary_education_Sports_facilities_Total, dtype: object
0    26.9
1    26.9
0    33.3
Name: Education_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Sports_facilities_Total, dtype: object
0    8851
1    8851
0     NaN
Name: Elections_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Municipal_elections_Electors, dtype: object
0    59.0
1    59.0
0     NaN
Name: Elections_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Municipal_elections_Turnout, dtype: object
0    8965
1    8965
0     145
Name: Elections_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Elections_to_the_Parliament_of_Catalonia_Electors, dtype: object
0    85.3
1    85.3
0    80.7
Name: Elections_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Elections_to_the_Parliament_of_Catalonia_Turnout, dtype: object
0    8907
1    8907
0     144
Name: Elections_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Elections_to_the_Congress_of_Deputies_Electors, dtype: object
0    70.9
1    70.9
0    50.7
Name: Elections_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Elections_to_the_Congress_of_Deputies_Turnout, dtype: object
0    47.3
1    47.3
0    42.0
Name: Elections_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Elections_to_the_European_Parliament_Turnout, dtype: object
0    8806
1    8806
0     143
Name: Elections_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Elections_to_the_European_Parliament_Electors, dtype: object
0    5192
1    5192
0     NaN
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Population._By_relation_with_economic_activity_Employed_population, dtype: object
0    1531
1    1531
0     NaN
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Population._By_relation_with_economic_activity_Unemployed_population, dtype: object
0    6723
1    6723
0     NaN
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Population._By_relation_with_economic_activity_Active_population, dtype: object
0    5078
1    5078
0     NaN
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Population._By_relation_with_economic_activity_Inactive_population, dtype: object
0    9465
1    9465
0     NaN
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Population._By_relation_with_economic_activity_Population_of_16_years_and_over, dtype: object
0    3144
1    3144
0      38
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Contributors_to_Social_Security_according_to_the_residence_of_the_contributor_Men, dtype: object
0    2617
1    2617
0      31
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Contributors_to_Social_Security_according_to_the_residence_of_the_contributor_Women, dtype: object
0    5761
1    5761
0      69
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Higher_education_Contributors_to_Social_Security_according_to_the_residence_of_the_contributor_Total, dtype: object
0    5947
1    5947
0      75
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_Social_Security_according_to_the_residence_of_the_contributor_Total, dtype: object
0    2699
1    2699
0       0
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_sectors_Industry, dtype: object
0    3452
1    3452
0      13
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_sectors_Services, dtype: object
0    6508
1    6508
0      26
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_sectors_Total, dtype: object
0     6
1     6
0    24
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._self-employed_system_according_to_the_location_of_the_affilation._By_sectors_Agriculture, dtype: object
0     33
1     33
0    NaN
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._self-employed_system_according_to_the_location_of_the_affilation._By_sectors_Industry, dtype: object
0    103
1    103
0    NaN
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._self-employed_system_according_to_the_location_of_the_affilation._By_sectors_Construction, dtype: object
0    486
1    486
0      5
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._self-employed_system_according_to_the_location_of_the_affilation._By_sectors_Services, dtype: object
0    628
1    628
0     30
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._self-employed_system_according_to_the_location_of_the_affilation._By_sectors_Total, dtype: object
0    3006
1    3006
0      26
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_size_of_centre_Up_to_50_workers, dtype: object
0    2610
1    2610
0       0
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_size_of_centre_From_51_to_250_workers, dtype: object
0    892
1    892
0      0
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_size_of_centre_From_251_workers_and_over, dtype: object
0    6508
1    6508
0      26
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_size_of_centre_Total, dtype: object
0    397
1    397
0      8
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Contributory_accounts_Total, dtype: object
0    2406
1    2406
0      53

Name: Quality_of_life_Population_aged_15_and_over._By_level_of_education_attained_Total_Family_dwellings._By_type_Main, dtype: object
0    503
1    503
0    NaN
Name: Quality_of_life_Population_aged_15_and_over._By_level_of_education_attained_Total_Family_dwellings._By_type_Secondary, dtype: object
0    269
1    269
0    NaN
Name: Quality_of_life_Population_aged_15_and_over._By_level_of_education_attained_Total_Family_dwellings._By_type_Vacant, dtype: object
0    5222
1    5222
0     NaN
Name: Quality_of_life_Population_aged_15_and_over._By_level_of_education_attained_Total_Family_dwellings._By_type_Total, dtype: object
0    335
1    335
0    NaN
Name: Quality_of_life_Population_aged_15_and_over._By_level_of_education_attained_Total_Main_family_dwellings._By_type_of_tenancy_Rented, dtype: object
0    4450
1    4450
0     NaN
Name: Quality_of_life_Population_aged_15_and_over._By_level_of_education_attained_Total_Main_family_dwellings._By_type_of_tenancy_Total, dtype: object
0    1975
1    1975
0     NaN
Name: Quality_of_life_Population_aged_15_and_over._By_level_of_education_attained_Total_Main_family_dwellings._By_useful_surface_area_From_61_to_90_m², dtype: object
0    1324
1    1324
0     NaN
Name: Quality_of_life_Population_aged_15_and_over._By_level_of_education_attained_Total_Main_family_dwellings._By_useful_surface_area_From_91_to_120_m², dtype: object
0    939
1    939
0    NaN
Name: Quality_of_life_Population_aged_15_and_over._By_level_of_education_attained_Total_Main_family_dwellings._By_useful_surface_area_From_121_m²_and_over, dtype: object
0    4450
1    4450
0     NaN
Name: Quality_of_life_Population_aged_15_and_over._By_level_of_education_attained_Total_Main_family_dwellings._By_useful_surface_area_Total, dtype: object
0    104.1
1    104.1
0      NaN
Name: Quality_of_life_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Small_area_socioeconomic_index_(STI)._Index_Catalonia=100_Total, dtype: object
0    649.2
1    649.2
0      NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Gross_domestic_product_(2019_Benchmark_revision)_GDP, dtype: object
0     52.3
1    160.5
0      NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Gross_domestic_product_(2019_Benchmark_revision)_GDP_per_capita, dtype: object
0    0.5
1    0.5
0    NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Gross_value_added_(2019_Benchmark_revision)._By_sectors_Agriculture, dtype: object
0    223.7
1    223.7
0      NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Gross_value_added_(2019_Benchmark_revision)._By_sectors_Industry, dtype: object
0    17.8
1    17.8
0     NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Gross_value_added_(2019_Benchmark_revision)._By_sectors_Construction, dtype: object
0    353.8
1    353.8
0      NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Gross_value_added_(2019_Benchmark_revision)._By_sectors_Services, dtype: object
0    595.8
1    595.8
0      NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Gross_value_added_(2019_Benchmark_revision)._By_sectors_Total, dtype: object
0    217630
1    217630
0       NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Gross_disposable_household_income._2019_Benchmark_revision_GDHI, dtype: object
0     17.7
1    100.3
0      NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Gross_disposable_household_income._2019_Benchmark_revision_GDHI_per_capita, dtype: object
0    7311
1    7311
0     NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Urban_property_tax_(IBI)_Number_of_receipts, dtype: object
0    77450.8
1    77450.8
0        NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Urban_property_tax_(IBI)_Taxable_base_by_receipt, dtype: object
0    625.5
1    625.5
0      NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Urban_property_tax_(IBI)_Integral_quota_by_receipt, dtype: object
0    24636
1    24636
0      NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Personal_Income_Tax_(IRPF)_Taxable_base_by_declarer, dtype: object
0    5680
1    5680
0     NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Personal_Income_Tax_(IRPF)_Resulting_quota_from_self-payment_by_declarer, dtype: object
0    368165
1    368165
0       NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Wealth_tax_(IPPF)_Total_weath_by_declarer, dtype: object
0    37.5
1    37.5
0     NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Wealth_tax_(IPPF)_Real_assets, dtype: object
0    62.5
1    62.5
0     NaN
Name: Main_aggregates_·_Public_sector_finance_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Wealth_tax_(IPPF)_Financial_assets, dtype: object
0    211
1    211
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Used_agricultural_area_(UAA)_Cultivated_land, dtype: object
0    310
1    310
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Used_agricultural_area_(UAA)_Permanent_pasture, dtype: object
0    521
1    521
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Used_agricultural_area_(UAA)_Total, dtype: object
0    145
1    145
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Cultivated_land._By_type_of_crop_Herbaceous_crops, dtype: object
0     19
1     19
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Cultivated_land._By_type_of_crop_Fruit_trees, dtype: object
0     16
1     16
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Cultivated_land._By_type_of_crop_Olives, dtype: object
0     31
1     31
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Cultivated_land._By_type_of_crop_Vines, dtype: object
0      0
1      0
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Cultivated_land._By_type_of_crop_Others, dtype: object
0    211
1    211
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Cultivated_land._By_type_of_crop_Total, dtype: object
0      1
1      1
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Farms._By_land_ownership_Without_land, dtype: object
0     13
1     13
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Farms._By_land_ownership_With_land, dtype: object
0     14
1     14
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Farms._By_land_ownership_Total, dtype: object
0     10
1     10
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Farms._By_livestock_ownership_Without_livestock, dtype: object
0      4
1      4
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Farms._By_livestock_ownership_With_livestock, dtype: object
0     14
1     14
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Farms._By_livestock_ownership_Total, dtype: object
0    593
1    593
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Head_of_livestock._By_species_Bovine, dtype: object
0    656
1    656
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Head_of_livestock._By_species_Ovine, dtype: object
0     84
1     84
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Head_of_livestock._By_species_Caprine, dtype: object
0      0
1      0
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Head_of_livestock._By_species_Porcine, dtype: object
0     33
1     33
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Head_of_livestock._By_species_Avian, dtype: object
0      0
1      0
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Head_of_livestock._By_species_Female_rabbits, dtype: object
0      0
1      0
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Head_of_livestock._By_species_Equine, dtype: object
0      0
1      0
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Housing_construction_State_subsidised_housing_starts, dtype: object
0     94
1     94
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Housing_construction_Housing_starts, dtype: object
0      1
1      1
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Tourist_accommodation_Hotels, dtype: object
0     39
1     39
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Tourist_accommodation_Hotel_beds, dtype: object
0      0
1      0
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Tourist_accommodation_Campsites, dtype: object
0      0
1      0
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Tourist_accommodation_Campsite_places, dtype: object
0      0
1      0
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Tourist_accommodation_Rural_tourism, dtype: object
0      0
1      0
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Tourist_accommodation_Rural_tourism_beds, dtype: object
0    7153
1    7153
0     NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Fleet_of_vehicles_Estate_cars, dtype: object
0    1302
1    1302
0     NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Fleet_of_vehicles_Motorcycles, dtype: object
0    1280
1    1280
0     NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Fleet_of_vehicles_Industrial_vehicles, dtype: object
0    872
1    872
0    NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Fleet_of_vehicles_Others, dtype: object
0    10607
1    10607
0      NaN
Name: Economic_sectors_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Fleet_of_vehicles_Total, dtype: object
0    1.41
1    1.41
0     NaN
Name: Environment_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Municipal_waste_Generation_per_capita, dtype: object
0    26.6
1    26.6
0     NaN
Name: Environment_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Municipal_waste_Selective_collection, dtype: object
0     59
1     59
0    NaN
Name: Environment_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Industrial_waste_Establishments_with_yearly_waste_declarations, dtype: object
0    63678.95
1    63678.95
0         NaN
Name: Environment_Population_aged_15_and_over._By_level_of_education_attained_Small_area_socioeconòmic_index_Industrial_waste_Industrial_waste, dtype: object
0    NaN
1    NaN
0     13
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_sectors_Agriculture, dtype: object
0    NaN
1    NaN
0      0
Name: Labour_Population_aged_15_and_over._By_level_of_education_attained_Total_Affiliations_to_S._S._general_system_according_to_the_location_of_the_affilation._By_sectors_Construction, dtype: object
0    NaN
1    NaN
0     62
Name: Quality_of_life_Family_dwellings._By_type_Main_Registered_unemployment._By_sex_Total, dtype: object
0    NaN
1    NaN
0     28
Name: Quality_of_life_Family_dwellings._By_type_Secondary_Registered_unemployment._By_sex_Total, dtype: object
0    NaN
1    NaN
0     90
Name: Quality_of_life_Family_dwellings._By_type_Total_Registered_unemployment._By_sex_Total, dtype: object
0    NaN
1    NaN
0    181
Name: Main_aggregates_·_Public_sector_finance_Family_dwellings._By_type_Total_Urban_property_tax_(IBI)_Number_of_receipts, dtype: object
0        NaN
1        NaN
0    20265.2
Name: Main_aggregates_·_Public_sector_finance_Family_dwellings._By_type_Total_Urban_property_tax_(IBI)_Taxable_base_by_receipt, dtype: object
0      NaN
1      NaN
0    121.6
Name: Main_aggregates_·_Public_sector_finance_Family_dwellings._By_type_Total_Urban_property_tax_(IBI)_Integral_quota_by_receipt, dtype: object
0      NaN
1      NaN
0    10332
Name: Main_aggregates_·_Public_sector_finance_Family_dwellings._By_type_Total_Personal_Income_Tax_(IRPF)_Taxable_base_by_declarer, dtype: object
0     NaN
1     NaN
0    3477
Name: Main_aggregates_·_Public_sector_finance_Family_dwellings._By_type_Total_Personal_Income_Tax_(IRPF)_Resulting_quota_from_self-payment_by_declarer, dtype: object
0    NaN
1    NaN
0    412
Name: Economic_sectors_Family_dwellings._By_type_Total_Used_agricultural_area_(UAA)_Cultivated_land, dtype: object
0     NaN
1     NaN
0    1048
Name: Economic_sectors_Family_dwellings._By_type_Total_Used_agricultural_area_(UAA)_Permanent_pasture, dtype: object
0     NaN
1     NaN
0    1460
Name: Economic_sectors_Family_dwellings._By_type_Total_Used_agricultural_area_(UAA)_Total, dtype: object
0    NaN
1    NaN
0    226
Name: Economic_sectors_Family_dwellings._By_type_Total_Cultivated_land._By_type_of_crop_Herbaceous_crops, dtype: object
0    NaN
1    NaN
0    169
Name: Economic_sectors_Family_dwellings._By_type_Total_Cultivated_land._By_type_of_crop_Fruit_trees, dtype: object
0    NaN
1    NaN
0      6
Name: Economic_sectors_Family_dwellings._By_type_Total_Cultivated_land._By_type_of_crop_Olives, dtype: object
0    NaN
1    NaN
0      1
Name: Economic_sectors_Family_dwellings._By_type_Total_Cultivated_land._By_type_of_crop_Vines, dtype: object
0    NaN
1    NaN
0     11
Name: Economic_sectors_Family_dwellings._By_type_Total_Cultivated_land._By_type_of_crop_Others, dtype: object
0    NaN
1    NaN
0    412
Name: Economic_sectors_Family_dwellings._By_type_Total_Cultivated_land._By_type_of_crop_Total, dtype: object
0    NaN
1    NaN
0      3
Name: Economic_sectors_Family_dwellings._By_type_Total_Farms._By_land_ownership_Without_land, dtype: object
0    NaN
1    NaN
0     27
Name: Economic_sectors_Family_dwellings._By_type_Total_Farms._By_land_ownership_With_land, dtype: object
0    NaN
1    NaN
0     30
Name: Economic_sectors_Family_dwellings._By_type_Total_Farms._By_land_ownership_Total, dtype: object
0    NaN
1    NaN
0     11
Name: Economic_sectors_Family_dwellings._By_type_Total_Farms._By_livestock_ownership_Without_livestock, dtype: object
0    NaN
1    NaN
0     19
Name: Economic_sectors_Family_dwellings._By_type_Total_Farms._By_livestock_ownership_With_livestock, dtype: object
0    NaN
1    NaN
0     30
Name: Economic_sectors_Family_dwellings._By_type_Total_Farms._By_livestock_ownership_Total, dtype: object
0    NaN
1    NaN
0    195
Name: Economic_sectors_Family_dwellings._By_type_Total_Head_of_livestock._By_species_Bovine, dtype: object
0     NaN
1     NaN
0    2030
Name: Economic_sectors_Family_dwellings._By_type_Total_Head_of_livestock._By_species_Ovine, dtype: object
0    NaN
1    NaN
0    176
Name: Economic_sectors_Family_dwellings._By_type_Total_Head_of_livestock._By_species_Caprine, dtype: object
0     NaN
1     NaN
0    7289
Name: Economic_sectors_Family_dwellings._By_type_Total_Head_of_livestock._By_species_Porcine, dtype: object
0      NaN
1      NaN
0    75010
Name: Economic_sectors_Family_dwellings._By_type_Total_Head_of_livestock._By_species_Avian, dtype: object
0    NaN
1    NaN
0    150
Name: Economic_sectors_Family_dwellings._By_type_Total_Head_of_livestock._By_species_Female_rabbits, dtype: object
0    NaN
1    NaN
0      9
Name: Economic_sectors_Family_dwellings._By_type_Total_Head_of_livestock._By_species_Equine, dtype: object
0    NaN
1    NaN
0      0
Name: Economic_sectors_Family_dwellings._By_type_Total_Housing_construction_State_subsidised_housing_starts, dtype: object
0    NaN
1    NaN
0      0
Name: Economic_sectors_Family_dwellings._By_type_Total_Housing_construction_Housing_starts, dtype: object
0    NaN
1    NaN
0      0
Name: Economic_sectors_Family_dwellings._By_type_Total_Tourist_accommodation_Hotels, dtype: object
0    NaN
1    NaN
0      0
Name: Economic_sectors_Family_dwellings._By_type_Total_Tourist_accommodation_Hotel_beds, dtype: object
0    NaN
1    NaN
0      0
Name: Economic_sectors_Family_dwellings._By_type_Total_Tourist_accommodation_Campsites, dtype: object
0    NaN
1    NaN
0      0
Name: Economic_sectors_Family_dwellings._By_type_Total_Tourist_accommodation_Campsite_places, dtype: object
0    NaN
1    NaN
0      2
Name: Economic_sectors_Family_dwellings._By_type_Total_Tourist_accommodation_Rural_tourism, dtype: object
0    NaN
1    NaN
0      9
Name: Economic_sectors_Family_dwellings._By_type_Total_Tourist_accommodation_Rural_tourism_beds, dtype: object
0    NaN
1    NaN
0    175
Name: Economic_sectors_Family_dwellings._By_type_Total_Fleet_of_vehicles_Estate_cars, dtype: object
0    NaN
1    NaN
0     13
Name: Economic_sectors_Family_dwellings._By_type_Total_Fleet_of_vehicles_Motorcycles, dtype: object
0    NaN
1    NaN
0    189
Name: Economic_sectors_Family_dwellings._By_type_Total_Fleet_of_vehicles_Industrial_vehicles, dtype: object
0    NaN
1    NaN
0    135

0    NaN
1    NaN
0    512
Name: Economic_sectors_Family_dwellings._By_type_Total_Fleet_of_vehicles_Total, dtype: object
0     NaN
1     NaN
0    1.24
Name: Environment_Family_dwellings._By_type_Total_Municipal_waste_Generation_per_capita, dtype: object
0     NaN
1     NaN
0    40.7
Name: Environment_Family_dwellings._By_type_Total_Municipal_waste_Selective_collection, dtype: object
0    NaN
1    NaN
0      0
Name: Environment_Family_dwellings._By_type_Total_Industrial_waste_Establishments_with_yearly_waste_declarations, dtype: object
0     NaN
1     NaN
0    0.00
Name: Environment_Family_dwellings._By_type_Total_Industrial_waste_Industrial_waste, dtype: object